---
const date = new Date()
---

<footer>
	<p id="footer-NEW">
		Background art by ShimmeringSword (<a
			href="https://www.patreon.com/ShimmeringSword">Patreon</a
		>)
	</p>
	<p>
		THIS IS A NOT FOR PROFIT FAN SITE, IT IS NOT AFFILIATED WITH ANY MECHWARRIOR
		OR BATTLETECH LICENSE HOLDERS. ALL CONTENTS AND TRADEMARKS BELONG TO
		REGISTRED OWNERS.
	</p>
</footer>
<style>
	footer {
		padding: 10px;
	}
	footer a {
		text-decoration: none;
		color: white;
		text-shadow: 1px 1px 3px #000000;
	}
	footer a:hover {
		color: firebrick;
		text-shadow: 2px 1px 3px #ffffff;
	}
</style>
