---
const { title, sub = '' } = Astro.props
import Styler from './Styler.astro'
---

<header class="grid">
	<div class="mechlist"></div>
	<div class="useful-links"></div>
	<div class="title">
		<h1>{title}</h1>
		<h2>{sub}</h2>
	</div>
	<div class="select-style"><Styler /></div>
	<div class="mechlab"><a href="./mechlab">Mechlab</a></div>
</header>
<style>
	header {
		position: sticky;
		height: 250px;
	}
</style>
