---
const { title, sub = '' } = Astro.props
import Styler from './Styler.astro'
---

<header>
	<a href="/MW5-mechlab/links"><div class="links">Useful links</div></a>
	<div class="style"><Styler /></div>
	<div class="title">
		<h1>{title}</h1>
		{sub !== '' && <h2>{sub}</h2>}
	</div>
	<a href="/MW5-mechlab/"><div class="list">Mechs and variants</div></a>
	<a href="#"><div class="mechlab">Mechlab (WiP)</div></a>
</header>
<style>
	header {
		position: sticky;
		padding: 10px;
		margin-bottom: 10px;
		display: grid;
		align-items: center;
		font-size: 16px;
		gap: 1rem;
		grid-template-areas:
			'links title title title style'
			'list title title title mechlab';
	}
	header div {
		background-color: rgba(36, 36, 36, 0.5);
		box-shadow: 0px 0px 7px 8px rgb(104 104 104 / 95%);
		padding: 8px;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 1.3em;
		color: white;
		min-height: 75px;
	}
	header div:hover {
		filter: hue-rotate(100deg);
	}
	.title h1 {
		font-size: 1.2em;
	}
	.title {
		grid-area: title;
		flex-flow: column nowrap;
		text-align: center;
	}
	.links {
		grid-area: links;
	}
	.style {
		grid-area: style;
	}
	.list {
		grid-area: list;
	}
	.mechlab {
		grid-area: mechlab;
	}
	@media (max-width: 671px) {
		header {
			font-size: 13px;
			grid-template-areas:
				'title title title title'
				'links list style mechlab';
			grid-template-rows: auto;
		}
	}
</style>
