---
import Footer from '../components/Footer.astro'
import '../styles/global.scss'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="This website contains a comprehensive list of all mechs from Mechwarrior 5: Mercenaries, with mech variants and specifications of each"
		/>
		<link rel="icon" type="image" href="MW5-mechlab/favicon.bmp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="page-container">
			<div class="content-wrap">
				<slot />
			</div>
			<Footer />
		</div>
	</body>
</html>
<style>
	.page-container {
		position: relative;
		min-height: 100vh;
	}

	.content-wrap {
		padding-bottom: 100px;
	}
</style>
